<div class="main">
<h1>O que são observers</h1>
    <h3  *ngFor="let item of list">{{item}}</h3>
    <button type="button" class="btn btn-primary" (click)="observables()">Ir</button>
<h1>O que são operators</h1>

    <h2>Count</h2>
        <h3>{{elementsCounted}}</h3>
        <button type="button" class="btn btn-primary" (click)="counted()">Ir</button>
    <h2>Merge</h2>
        <h3>{{elementsMerged}}</h3>
        <button type="button" class="btn btn-primary" (click)="merged()">Ir</button>
    <h2>Filter</h2>
        <h3>{{elementsFiltered}}</h3>
        <button type="button" class="btn btn-primary" (click)="filtered()">Ir</button>
</div>